<section id="home-about">

    <div class="container">

        <img src="assets/about-pic-edit.png">
        <div class="text right">
            <h1>About Me</h1>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum,
            </p>

            <h3 class="mini-header">Tech Stack</h3>
                <div class="tech-stack">
                    <div class="dev-tools">             
                        <div class="html">
                            <i class="fab fa-html5 fa-3x"></i>
                            <h5>HTML</h5>
                            <p></p>
                        </div>
                        <div class="css">
                            <i class="fab fa-css3 fa-3x"></i>
                            <h5>CSS</h5>
                            <p></p>
                        </div>
                        <div class="Sass">
                            <i class="fab fa-sass fa-3x"></i>
                            <h5>SASS</h5>
                            <p></p>
                        </div>
                        <div class="javascript">
                            <i class="fab fa-js fa-3x"></i>
                            <h5>Javascript</h5>
                            <p></p>
                        </div>
                        <div class="ruby">
                            <i class="fas fa-gem fa-3x"></i>
                            <h5>Ruby on rails</h5>
                            <p></p>
                        </div>       
                    </div>
                </div>

        </div>
    
    </div>


</section>