<section class="test" id="home-footer">
    <footer id="main-footer">
        <%# <button>
            <i class="arrow fas fa-angle-up fa-3x"></i>
        </button> %>
        <div class="footer-container">
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/chinonso-john-nkpolukwu-521201138/"><i class="fab fa-linkedin-in fa-2x"></i></a>
            </div>
            <div class="instagram">
                <a href="https://www.instagram.com/johnnsonkp/"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
            <div class="codepen">
                <a href="https://codepen.io/Johnnsonkp"><i class="fab fa-codepen fa-2x"></i></a>
            </div>
            <div class="github">
                <a href="https://github.com/Johnnsonkp"><i class="fab fa-github fa-2x"></i></a>
            </div>
        </div>
        <h5><span class="highlight">Johnnsonkp</span> &copy2021 </h5>
    </footer>
</section>