<section id="home-projects">

    <div class="container">

        <div class="header">
            <h1 class="header-text">My Latest Projects</h1>
            <p class="header-p">There are many variations of passages of Lorem Ipsum available, but The majority have suffered alteration.</p>
        </div>

        <div class="projects">

            <div class="project">
                <div class="img img-one">
                    <div class="content">
                        <div class="display-none">
                            <h2>Rails Movie DB<h4>
                            <p>Movie Database application created using a fetch API. </p>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn-left"><a href="https://rails-moviedb.herokuapp.com/">Live Site</a></button>
                    <button class="btn-right"><a href="https://rails-moviedb.herokuapp.com/">Github Repo</a></button>
                </div>
            </div>


            <div class="project">
                <div class="img img-one">
                    <div class="content">
                        <div class="display-none">
                            <h2>Rails Movie DB<h4>
                            <p>Movie Database application created using a fetch API. </p>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn-left"><a href="https://rails-moviedb.herokuapp.com/">Live Site</a></button>
                    <button class="btn-right"><a href="https://rails-moviedb.herokuapp.com/">Github Repo</a></button>
                </div>
            </div>

            <div class="project">
                <div class="img img-one">
                    <div class="content">
                        <div class="display-none">
                            <h2>Rails Movie DB<h4>
                            <p>Movie Database application created using a fetch API. </p>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn-left"><a href="https://rails-moviedb.herokuapp.com/">Live Site</a></button>
                    <button class="btn-right"><a href="https://rails-moviedb.herokuapp.com/">Github Repo</a></button>
                </div>
            </div>






            <div class="project">
                <div class="img img-one">
                    <div class="content">
                        <div class="display-none">
                            <h2>Rails Movie DB<h4>
                            <p>Movie Database application created using a fetch API. </p>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn-left"><a href="https://rails-moviedb.herokuapp.com/">Live Site</a></button>
                    <button class="btn-right"><a href="https://rails-moviedb.herokuapp.com/">Github Repo</a></button>
                </div>
            </div>


            <div class="project">
                <div class="img img-one">
                    <div class="content">
                        <div class="display-none">
                            <h2>Rails Movie DB<h4>
                            <p>Movie Database application created using a fetch API. </p>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn-left"><a href="https://rails-moviedb.herokuapp.com/">Live Site</a></button>
                    <button class="btn-right"><a href="https://rails-moviedb.herokuapp.com/">Github Repo</a></button>
                </div>
            </div>

            <div class="project">
                <div class="img img-one">
                    <div class="content">
                        <div class="display-none">
                            <h2>Rails Movie DB<h4>
                            <p>Movie Database application created using a fetch API. </p>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn-left"><a href="https://rails-moviedb.herokuapp.com/">Live Site</a></button>
                    <button class="btn-right"><a href="https://rails-moviedb.herokuapp.com/">Github Repo</a></button>
                </div>
            </div>

            
        </div>





    </div>



</section>