<section id="home-projects">

    <div class="container">

        <div class="header">
            <h1 class="header-text">My Latest Projects</h1>
            <p class="header-p">Cross skilled in both the frontend and the backend, here are some of my various works.</p>
        </div>

        <div class="projects">

            <div class="project">
                <div class="img img-six">
                    <div class="content">
                        <div class="display-none">
                            <h2>Two-sided Marketplace<h4>
                            <p>A two sided marketplace application for T-shirt enthusiasts. </p>
                        </div>
                    </div>
                </div>
                <div class="btn-div">
                    <button class="btn-left"><a class="cozy-tees-btn" href="https://cozy-tees-app.herokuapp.com/">Live Site</a></button>
                    <button class="btn-right"><a href="https://github.com/Johnnsonkp/cozy_tees">Github Repo</a></button>
                </div>
            </div>


            <div class="project">
                <div class="img img-one">
                    <div class="content">
                        <div class="display-none">
                            <h2>Rails Movie DB<h4>
                            <p>Movie Database application created using a fetch API. </p>
                        </div>
                    </div>
                </div>
                <div class="btn-div">
                    <button class="btn-left"><a href="https://rails-moviedb.herokuapp.com/">Live Site</a></button>
                    <button class="btn-right"><a href="https://github.com/Johnnsonkp/ROR-movies">Github Repo</a></button>
                </div>
            </div>

            <div class="project">
                <div class="img img-two">
                    <div class="content">
                        <div class="display-none">
                            <h2>Items Wishlist<h4>
                            <p>A wishlist shopping application, designed to keep track of your online shopping. </p>
                        </div>
                    </div>
                </div>
                <div class="btn-div">
                    <button class="btn-left"><a href="https://itemsv3.herokuapp.com/">Live Site</a></button>
                    <button class="btn-right"><a href="https://github.com/Johnnsonkp/items_v3">Github Repo</a></button>
                </div>
            </div>

            <div class="project">
                <div class="img img-four">
                    <div class="content">
                        <div class="display-none">
                            <h2>Portfolio v2<h4>
                            <p>A previous version of my portfolio. </p>
                        </div>
                    </div>
                </div>
                <div class="btn-div">
                    <button class="btn-left"><a href="https://porfolio-v2.herokuapp.com/">Live Site</a></button>
                    <button class="btn-right"><a href="https://github.com/Johnnsonkp/portfolio_v2">Github Repo</a></button>
                </div>
            </div>

            <div class="project">
                <div class="img img-three">
                    <div class="content">
                        <div class="display-none">
                            <h2>Kanter Agency Clone site<h4>
                            <p>A reacretion of a digital marketing agency website. </p>
                        </div>
                    </div>
                </div>
                <div class="btn-div">
                    <button class="btn-left"><a href="https://kanter-digital-marketing-johnnsonkp.netlify.app/">Live Site</a></button>
                    <button class="btn-right"><a href="https://github.com/Johnnsonkp">Github Repo</a></button>
                </div>
            </div>

            <div class="project">
                <div class="img img-five">
                    <div class="content">
                        <div class="display-none">
                            <h2>ASAP MOB tribute page<h4>
                            <p>A tribute page to the ASAP MOB Music group. </p>
                        </div>
                    </div>
                </div>
                <div class="btn-div">
                    <button class="btn-left"><a href="https://codepen.io/Johnnsonkp/pen/ExyQpro">Live Site</a></button>
                    <button class="btn-right"><a href="https://github.com/Johnnsonkp">Github Repo</a></button>
                </div>
            </div>

            
        </div>





    </div>

</section>

