<section id="home-index">

    <div class="video-container">
        <video src="assets/tech.mp4" type="video/mp4" autoplay muted  loop playsinline>
        </video>
    </div>

    <!-- View my work button -->
    
    <div class="middle-text">
        <%= link_to "", '', class:"img"%>
        <div class="inner-text">
            <h1>Hello, I’m <span class="highlight">Chinonso John Nkpolukwu</span>.<br> I’m a full-stack web developer.</h1>
            <br>
            <br>
            <span class="btn project-btn">
                <span>View my work</span>
                <span class="fas fa-arrow-right"></span>
            </span>
        </div>
    </div>

    <div class="light" id="day-night-btn"></div>

    <img class="down-arrow down" src="assets/white-arrow.png">

</section>

<%= render 'home/projects' %>